body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;   
}
/*sets values for all the content*/
.wrapper {
    width:50%; margin:auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0% 1% 1% 1%;
    
}

/*banner style*/
.banner {
    background-image: url(../images/lone-starfish-wide.jpg);
    height: 300px;
}

/*title style*/
h1 {
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: 180px;
    font-size: 50px;
    font-weight: 400;
}

/*navigation style*/
nav {
    box-sizing: border-box;
    width: 100%;
    overflow:auto;
}

nav li {
    list-style-type: none;
    float: left;
    padding: 0px;
    font-size: 1.5em;
    color: black;
    width: 33%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li:nth-child(2) {
border-left: 2px solid;
border-right: 2px solid;
}

/*no decoration for links in nav*/
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

.clearfix::after {
    content:"";
    display: block;
    clear:both;
    overflow: auto;
}

/*image float*/
.starfish {
    float: left;
    width: 30%;
    padding-right: 2%;
}

.paragraph {
    width: 100%;
    margin-right: 0%;
}

/*Form style*/
.form {
    width: 98%;
    height: auto;
    border: 1px solid;
    color:black;
    padding-left: 1%;
    padding-top: 3%;
    padding-bottom: 3%;

}

input[id=fullname] {
    width: 98%;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[id=emailadress] {
    width: 98%;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[id=message] {
    width: 98%;
    height: 60px;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*Send button style*/
.submit {
    background-color: transparent;
    border: 1px solid black;
    margin-top:3%;
    padding: 1%;
    
}

.footer {
   text-align: right;
   margin-right: 1%;
}