html {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
  }

.wrapper{
 width: 600px;
 margin:auto;
}

.wrapper-bleed{
    width: 600px;
    margin:auto;
}

.logo{
    background-color:#C78B07;
    width: 580px;
    margin: auto;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-size: 1rem;
    font-weight: bold;
}

header{
    background-color: #222222;
    width: 600px;
    margin: auto;
}

nav{
    text-align: center;
}

nav li{
    margin: auto;
    padding: 1rem;
}

nav li:hover{
    background-color: #C78B07;
    width: 580px;
  }

nav li a:link, nav li a:visited{
    text-decoration: none;
    color: #C78B07 ;
}

nav li a:hover{
    color: #222222;
}

.welcome{
    background-image: url("../images/main-banner.jpg");
    background-position: center;
    width: 600px;
    margin:auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
   z-index: -1;
}

.banner{
    margin-top: 6rem;
    background-color: #2229;
    float: left;
    z-index: 1;
    padding: 1rem;
}

.banner p{
    color: white;
}

.connect{
    background-color: #C78B07;
    width: 180px;
    margin-top: 1rem;
    padding: 1rem;
    color: #222222;
}

.connect a:link, .connect a:visited{
    text-decoration: none;
    color: #222222;
}

.about{
    background-color: #ffe6ac;
    width: 600px;
    margin: auto;
}

.about img{
    padding: 1rem;
    width: 600px;
}

.about h2{
    padding-left: 1rem;
    width: 600px;
}

.about p{
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 600px;
    line-height: 1.5;
}

.services h2{
    padding: 1rem;
}

.services img{
    width: 600px;
}

.digitaltransformation{
    background-color: #ffe6ac;
    width: 600px;
    margin: auto;
    padding: 1rem;  
}

.digitaltransformation h3{
    padding-bottom: 1rem;
}

.digitaltransformation p{
    padding-bottom: 1rem;
    line-height: 1.5;
}

.digital{
    background-color: #222222;
    color: white;
    width: 140px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;
}

.digital a:link, .digital a:visited{
    text-decoration: none;
    color: white;
}