html {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper{
 width: 600px;
 margin:auto;
}

.wrapper-bleed{
    width: 600px;
    margin:auto;
}

.logo{
    background-color:#C78B07;
    width: 580px;
    margin: auto;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-size: 1rem;
    font-weight: bold;
}

header{
    background-color: #222222;
    width: 600px;
    margin: auto;
}

nav{
    text-align: center;
}

nav li{
    margin: auto;
    padding: 1rem;
}

nav li:hover{
    background-color: #C78B07;
    width: 580px;
  }

nav li a:link, nav li a:visited{
    text-decoration: none;
    color: #C78B07 ;
}

nav li a:hover{
    color: #222222;
}

input[id=search] {
    width: 100%;
}

.welcome{
    background-image: url("../images/main-banner.jpg");
    background-position: center;
    width: 600px;
    margin:auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    z-index: -1;
}

.banner{
    margin-top: 4rem;
    background-color: #2229;
    float: left;
    z-index: 1;
    padding: 1rem;
}

.banner p{
    color: white;
    line-height: 1.3;
    padding-top: 1rem;
}

.connect{
    background-color: #C78B07;
    width: 180px;
    margin-top: 1rem;
    padding: 1rem;
    color: #222222;
}

.connect a:link, .connect a:visited{
    text-decoration: none;
    color: #222222;
}

.about{
    background-color: #ffe6ac;
    width: 600px;
    margin: auto;
}

.about img{
    padding: 1rem;
    width: 100%;
}

.aboutcontent{
    padding-left: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.services{
    width: 600px;
    margin: auto;
}

.services h2{
    padding: 1rem;
}

.services img{
    width: 600px;
}

.digitaltransformation{
    background-color: #ffe6ac;
    width: 600px;
    margin: auto;
    padding: 1rem;  
}

.digitaltransformation h3{
    padding-bottom: 1rem;
}

.digitaltransformation p{
    padding-bottom: 1rem;
    line-height: 1.5;
}

.digital{
    background-color: #222222;
    color: white;
    width: 140px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;
}

.digital a:link, .digital a:visited{
    text-decoration: none;
    color: white;
}

.marketing{
    width: 600px;
    margin:auto;
    margin-top:1rem;
    background-color: #ffe6ac;
}

.marketing img{
    width: 100%;
}

.marketingtext{
    padding: 1rem;
}

.marketingtext h3{
    padding-bottom: 1rem;
}

.marketingtext p{
    line-height: 1.5;
}

.marketingplans{
    background-color: #222222;
    color: white;
    width: 175px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;  
}

.marketingplans a:link, .marketingplans a:visited{
    text-decoration: none;
    color: white;
}

.video{
    width: 600px;
    margin:auto;
    margin-top:1rem;
    background-color: #ffe6ac;
}

.video img{
    width:100%;
}

.videoprod{
    padding: 1rem;
}

.videoprod h3{
    padding-bottom: 1rem;
    
}

.videoprod p{
    line-height: 1.5;
}

.videoplans{
    background-color: #222222;
    color: white;
    width: 160px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;  
}

.videoplans a:link, .videoplans a:visited{
    text-decoration: none;
    color: white;
}

/*Web Development section is fragmented in different classes to edit separately each one of the items inside*/

.webdev{
    width: 600px;
    margin:auto;
    margin-top:1rem;
    background-color: #ffe6ac;
}

.webdev img{
    width: 100%;
}

.webtext{
    background-color: #ffe6ac;
    padding: 1rem;
}

.webtext h3{
    padding-bottom: 1rem;
}

.webtext p{
    line-height: 1.5;
}

.webplans{
    background-color: #222222;
    color: white;
    width: 150px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;    
}

.webplans a:link, .webplans a:visited{
    text-decoration: none;
    color: white;
}

.print{
    width: 600px;
    margin:auto;
    margin-top:1rem;
    background-color: #ffe6ac; 
}

.print img{
    width: 100%;
}

.printcontent{
    background-color: #ffe6ac;
    padding: 1rem;
}

.printcontent h3{
    padding-bottom: 1rem;
}

.printcontent p{
    line-height: 1.5;
}

.printplans{
    background-color: #222222;
    color: white;
    width: 150px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;    
}

.printplans{
    background-color: #222222;
    color: white;
    width: 140px;
    margin-top: 1rem;
    padding: 1rem;
    color: white;  
}

.printplans a:link, .printplans a:visited{
    text-decoration: none;
    color: white;
}

.vision{
    background-image: url("../images/vision.jpg");
    margin: auto;
    margin-top: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 630px;
    height: 280px;
}

.vision h3{
    color:white;
    padding-top: 2rem;
}

.vision p{
    padding-top: 2rem;
    color:white;
    line-height: 1.5;
}

.learn{
    background-color: #2228;
    border-style: solid;
    border-color: #C78B07;
    border-width: 1px;
    color: white;
    width: 140px;
    margin-top: 1rem;
    padding: 1.3rem;
    color: white;  
}

.learn a:link, .learn a:visited{
    text-decoration: none;
    color: white;
}

.john h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.john{
    width: 600px;
    margin: auto;
}

.johninfo{
    background-color: #ffe6ac;
    padding: 1rem;
    line-height: 1.5;
}

.johninfo h3{
    font-size: 2rem;
}

.johninfo h4{
    font-weight: bold;
}

.johninfo hr{
    border-top: 2px solid #C78B07;
}

.bob{
    width: 600px;
    margin: auto;
    padding-top: 1rem;
}

.bobinfo{
    background-color: #ffe6ac;
    padding: 1rem;
    line-height: 1.5;
}

.john h2{
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.john{
    width: 600px;
    margin: auto;
}

.bobinfo{
    background-color: #ffe6ac;
    padding: 1rem;
    line-height: 1.5;
}

.bobinfo h3{
    font-size: 2rem;
}

.bobinfo h4{
    font-weight: bold;
}

.bobinfo hr{
    border-top: 2px solid #C78B07;
}

.form h2{
    font-size: 3rem;
    padding-top: 1rem;  
    padding-bottom: 1rem;
}

.form h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.data{
    width: 600px; 
}

input[id=fullname] {
    width: 100%;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[id=email] {
    width: 100%;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

input[id=message] {
    width: 100%;
    height: 60px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.submit{
    background-color: #222222;
    color: #C78B07;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.schedule h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table{
    border: 1px solid;
    width: 100%;
}

td{
    border: 1px solid;
    padding: 1rem;
}

th{
    border: 1px solid;
    padding: 1rem;
}

tr:nth-child(1){
    background-color: #ffe6ac;
}

.location h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    background-color: #222;
    color: #c78c06;
    margin: auto;
    padding: 10px;
    width: 600px;
    margin-top: 1rem;
}

footer a{
    color: #C78B07;
}

/*Desktop media queries*/

@media screen and (min-width:760px) {

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    header {
        display: inline-block;
        width: 100%;
    }

    .logo{
        background-color: #222222;
        width: 5%;
        margin: auto;
        position: top;
        right: 30%;
    }

    .navigation {
        padding-top: 3%;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: auto;
    }

    ul {
        justify-content: space-evenly;
    }

    li {
        display: inline;
        width: 100%;
    }

    .welcome{
        width:100%;
    }

    .banner{
        position:absolute;
        width: 60%;
    }

    .about{
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about img{
        padding: 1rem;
        margin-left: 2rem;
        object-fit: cover;
    }
    .aboutcontent{
        padding-left: 5%;
    }

    .services{
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat (6 1fr);

    }

}
